.socialmedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0 60px 0px;
  gap: 20px;
}

.socialmedia-links {
  width: 44px;
  height: 44px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
}

.socialmedia-description {
  width: 44px;
  height: 44px;

  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.socialmedia-description:hover,
.socialmedia-description:focus {
  background-color: #2196f3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialmedia-description:hover svg,
.socialmedia-description:focus svg {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
}

.description-f {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.webstudio-f {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  padding-left: 0px;
  margin-top: 60px;
}

.list-f {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  justify-content: center;
  align-items: center;

  gap: 9px;
  list-style-type: none;
}

.studio-footer {
  color: #ffffff;
}

.footer {
  background: #2f303a;
}

.address {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
  font-style: normal;
  letter-spacing: 0.06em;
  margin-top: 11px;
}

.link-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-top: 9px;
}

.tel-footer {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin-top: 9px;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.input-mail {
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  padding: 15px 158px 15px 16px;
  color: #ffffff;
}

.input-mail:focus {
  outline: none;
  border-color: #2196f3;
}

.mail-button-f {
  position: relative;
  background-color: #2196f3;

  border-radius: 4px;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.875;
  padding: 10px 20px 10px 42px;
  top: 0px;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  gap: 20px;
  margin-top: 20px;
  cursor: pointer;
}

.help-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.mail-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-mail-f {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .socialmedia {
    display: flex;
    flex-direction: column;
    padding: 78px 0 100px 63px;
    gap: 20px;
  }

  .socialmedia-links {
    width: 44px;
    height: 44px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #ffffff;
  }

  .socialmedia-description {
    width: 44px;
    height: 44px;

    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
  }

  .socialmedia-description:hover,
  .socialmedia-description:focus {
    background-color: #2196f3;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .socialmedia-description:hover svg,
  .socialmedia-description:focus svg {
    fill: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .text-footer {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #ffffff;
  }

  .description-f {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .text-socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .webstudio-f {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
    text-decoration: none;
    padding-left: 0px;
    margin-top: 60px;
  }

  .list-f {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-top: 60px;
    margin-right: 0;
    padding-bottom: 60px;
    gap: 9px;
    list-style-type: none;
  }

  .studio-footer {
    color: #ffffff;
  }

  .footer {
    background: #2f303a;
  }

  .address {
    font-size: 14px;
    line-height: 1.71;
    color: #ffffff;
    font-style: normal;
    letter-spacing: 0.06em;
    margin-top: 11px;
  }

  .link-footer {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-top: 9px;
  }

  .tel-footer {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-top: 9px;
    font-size: 14px;
    letter-spacing: 0.03em;
  }

  .mail-box {
    padding-left: 78px;
    padding-top: 78px;
  }

  .input-mail {
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2f303a;
    color: #ffffff;
  }

  .input-mail:focus {
    outline: none;
    border-color: #2196f3;
  }

  .mail-button-f {
    position: relative;
    background-color: #2196f3;

    border-radius: 4px;
    color: #ffffff;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.875;
    padding: 10px 20px 10px 42px;
    top: 0px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    gap: 20px;
    margin-top: 20px;
    cursor: pointer;
  }

  .help-box {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .icon-mail-f {
    fill: #ffffff;
  }
}

@media screen and (min-width: 1200px) {
  .socialmedia {
    display: flex;
    flex-direction: column;
    padding: 78px 0 100px 63px;
    gap: 20px;
  }

  .socialmedia-links {
    width: 44px;
    height: 44px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #ffffff;
  }

  .socialmedia-description {
    width: 44px;
    height: 44px;

    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
  }

  .socialmedia-description:hover,
  .socialmedia-description:focus {
    background-color: #2196f3;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .socialmedia-description:hover svg,
  .socialmedia-description:focus svg {
    fill: #ffffff;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .text-footer {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
    color: #ffffff;
  }

  .description-f {
    display: flex;
    flex-direction: row;
  }

  .text-socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .webstudio-f {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
    text-decoration: none;
    padding-left: 0px;
    margin-top: 60px;
  }

  .list-f {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    padding-top: 60px;
    margin-right: 0;
    padding-bottom: 60px;
    gap: 9px;
    list-style-type: none;
  }

  .studio-footer {
    color: #ffffff;
  }

  .footer {
    background: #2f303a;
  }

  .address {
    font-size: 14px;
    line-height: 1.71;
    color: #ffffff;
    font-style: normal;
    letter-spacing: 0.06em;
    margin-top: 11px;
  }

  .link-footer {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-top: 9px;
  }

  .tel-footer {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-top: 9px;
    font-size: 14px;
    letter-spacing: 0.03em;
  }

  .mail-box {
    padding-left: 78px;
    padding-top: 40px;
  }

  .input-mail {
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2f303a;
    padding: 15px 158px 15px 16px;
    color: #ffffff;
  }

  .input-mail:focus {
    outline: none;
    border-color: #2196f3;
  }

  .mail-button-f {
    position: relative;
    background-color: #2196f3;

    border-radius: 4px;
    color: #ffffff;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.875;
    padding: 10px 20px 10px 42px;
    top: 0px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    gap: 20px;
    margin-top: 20px;
    cursor: pointer;
  }

  .help-box {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .icon-mail-f {
    fill: #ffffff;
  }
}
