.main-nav {
  display: none;
}
.menu-container {
  display: none;
}
.is-open {
  display: block;
}

.webstudio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  display: flex;
}

.studio-h {
  color: #212121;
}

.mobile-button {
  width: 40px;
  height: 40px;
}

.mobile-icon {
  width: 36px;
  height: 36px;
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu-mobile {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #ffffff;
}

.js-close-menu {
  position: absolute;
  right: 10px;
  top: 10px;
}

.mobile-menu {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-left: 20px;
  margin-top: 80px;
}

.link-mobile:hover {
  color: #2196f3;
  cursor: pointer;
}

.link-mobile {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
}

.contacts-mobile {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 400px;
  gap: 15px;
}

.tel-mobile {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
}

.mail-mobile {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.socialmedia-mobile {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 20px;
  margin-top: 80px;
}

.social-mobile {
  color: #2196f3;
  text-decoration: none;
}
.menu-toggle {
  background-color: #ffffff;
  border: #ffffff;
}

@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid #ececec;
  }

  .menu {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 60px;
    align-items: center;
  }
  .mobile-header {
    display: none;
  }

  .main-nav {
    display: flex;
    margin: 24px 0 25px 0;
    gap: 60px;
  }

  .nav-contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: left;
    margin-left: 32px;
  }

  .webstudio {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
    text-decoration: none;
    display: flex;
    margin-top: 10px;
  }

  .studio-h {
    color: #212121;
  }

  .studio-f {
    color: #ffffff;
  }

  .links {
    text-decoration: none;
    list-style-type: none;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .mail-h {
    text-decoration: none;
    color: #757575;
    fill: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .mail-icon {
    height: 16px;
    width: 21px;
    vertical-align: middle;
    margin-bottom: 3px;
  }

  .tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    fill: #757575;
    text-decoration: none;
  }

  .tel-icon {
    height: 16px;
    width: 24px;
    vertical-align: middle;
    margin-bottom: 3px;
  }

  .tel:hover,
  .tel:focus {
    color: #2196f3;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .tel:hover svg,
  .tel:focus svg {
    fill: #2196f3;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .links:hover,
  .links:focus {
    color: #2196f3;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .links-special {
    color: #2196f3;
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .mail-h:hover,
  .mail-h:focus {
    color: #2196f3;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mail-h:hover svg,
  .mail-h:focus svg {
    fill: #2196f3;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .underline-special {
    position: relative;
  }

  .underline-special::before {
    content: "";
    position: absolute;
    width: 53px;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    display: block;
    margin-top: 55px;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .underline {
    position: relative;
  }

  .underline:hover::after {
    content: "";
    position: absolute;
    width: 53px;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    display: block;
    margin-top: 35px;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .header {
    border-bottom: 1px solid #ececec;
  }

  .menu {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 46px;
    align-items: center;
  }
  .mobile-header {
    display: none;
  }

  .main-nav {
    display: flex;
    margin: 20px 0 10px 0;
    gap: 93px;
  }

  .nav-contacts {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    margin-left: 238px;
  }

  .webstudio {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196f3;
    text-decoration: none;
    display: flex;
  }

  .studio-h {
    color: #212121;
  }

  .studio-f {
    color: #ffffff;
  }

  .links {
    text-decoration: none;
    list-style-type: none;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .mail-h {
    text-decoration: none;
    color: #757575;
    fill: #757575;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .mail-icon {
    height: 16px;
    width: 21px;
    vertical-align: middle;
    margin-bottom: 3px;
  }

  .tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    fill: #757575;
    text-decoration: none;
  }

  .tel-icon {
    height: 16px;
    width: 24px;
    vertical-align: middle;
    margin-bottom: 3px;
  }

  .tel:hover,
  .tel:focus {
    color: #2196f3;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .tel:hover svg,
  .tel:focus svg {
    fill: #2196f3;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .links:hover,
  .links:focus {
    color: #2196f3;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .links-special {
    color: #2196f3;
    text-decoration: none;
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }

  .mail-h:hover,
  .mail-h:focus {
    color: #2196f3;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mail-h:hover svg,
  .mail-h:focus svg {
    fill: #2196f3;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .underline-special {
    position: relative;
  }

  .underline-special::before {
    content: "";
    position: absolute;
    width: 53px;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    display: block;
    margin-top: 37px;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .underline {
    position: relative;
  }

  .underline:hover::after {
    content: "";
    position: absolute;
    width: 53px;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    display: block;
    margin-top: 18px;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
